<main>
    <section class="hero">
      <div class="hero-container">
        <img src="./assets/kepek/na.jpg" alt="Autószerviz">
        <div class="booking">
          <a href="/appointment" class="booking-animation">Időpont foglalás</a>
        </div>
      </div>
    </section>
  
    <section id="about" class="about">
      <div class="hello">
        <h2>Rólunk</h2>
        <div class="egybe">
          <img src="assets/kepek/auto2.webp" alt="auto" class="auto">
          <p class="rolunk2">A BosService egy családi vállalkozás, amely több éves tapasztalattal rendelkezik az autószerelés területén. Célunk, hogy minden ügyfelünk számára gyors és megbízható szolgáltatást nyújtsunk, legyen szó akár kisebb javításról, akár komplexebb problémák megoldásáról. A legmodernebb eszközökkel és magasan képzett szakembereinkkel biztosítjuk, hogy autója a legjobb kezekben legyen.
          Kiemelt figyelmet fordítunk a minőségre, és arra, hogy minden munkát a lehető legprecízebben végezzünk el. A Skoda és Volkswagen márkákra szakosodva, az autóipar legújabb trendjeinek megfelelően végezzük el javítási és karbantartási feladatainkat.
          Számunkra a legfontosabb, hogy ügyfeleink elégedettek legyenek, és bátran ránk bízzák autójukat.
          </p>
        </div>
        <p class="rolunk3">
          Látogasson el műhelyünkbe, ahol barátságos és segítőkész csapat várja!
        </p>  
      </div>
    </section>
  
    <section id="services" class="services">
      <h2>Szolgáltatásaink</h2>
      <div class="service-item">
        <img src="assets/kepek/olajcsere.jpg" alt="Szolgáltatás 1" class="olajcsere">
        <p>Olajcsere</p>
      </div>
      <div class="service-item">
        <img src="assets/kepek/motorjavitas.jpg" alt="Szolgáltatás 2" class="motorjavitas">
        <p>Motorjavítás</p>
      </div>
      <div class="service-item">
        <img src="assets/kepek/karbantartas.jpg" alt="Szolgáltatás 3" class="karbantartas">
        <p>Karbantartás</p>
      </div>
      <div class="service-item">
        <img src="assets/kepek/egyeb.jpg" alt="Szolgáltatás 4" class="egyeb">
        <p>Egyéb javítások</p>
      </div>
    </section>
  
    <section id="team" class="team">
      <h2>Csapatunk</h2>
      <div class="team-container">
        <div class="team-member">
          <img src="assets/kepek/aut1.jpg" alt="Csapattag 1">
          <p>Kovács Béka vagyok leggyorsabb olajcserés</p>
        </div>
        <div class="team-member">
          <img src="assets/kepek/aut2.jpg" alt="Csapattag 2">
          <p>Szabó István vagyok motorjavításba profi vagyok </p>
        </div>
        <div class="team-member">
          <img src="assets/kepek/aut3.jpg" alt="Csapattag 3">
          <p>László Antal vagyok karosszériás vagyok igényes és prezíc.</p>
        </div>
        <div class="team-member">
          <img src="assets/kepek/aut4.jpg" alt="Csapattag 4">
          <p>Bíró Péter vagyok állapot felmérő vagyok, szigorú de pontos</p>
        </div>
      </div>
    </section>
    <section id="contact" class="contact">
      <h2>Elérhetőség</h2>
      <div class="contact-container">
        <div class="address">
          <p><strong>Kapcsolatok:</strong></p>
          <p><strong>Cím:</strong> Pécs, Esztergár Lajos utca 6</p>
          <p><strong>Telefon:</strong> 0670 123 4567</p>
          <p><strong>E-mail:</strong> bosservice&#64;gmail.com</p>
        </div>
        <div class="hours">
          <p><strong>Nyitvatartás:</strong></p>
          <p><strong>Hétfő-Péntek:</strong> 08:00 - 18:00</p>
          <p><strong>Szombat:</strong> 08:00 - 16:00</p>
          <p><strong>Vasárnap:</strong> Zárva</p>
        </div>
      </div>
    </section>
  </main>