<main>
  <section class="login">
    <h2>Bejelentkezés</h2>
    <form (ngSubmit)="login()">
      <label for="login_email">Felhasználónév</label>
      <input type="text" id="login_email" [(ngModel)]="loginData.login_email" name="login_email" required>
      
      <label for="login_password">Jelszó</label>
      <input type="password" id="login_password" [(ngModel)]="loginData.login_password" name="login_password" required>
      
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>
      
      <a (click)="showLoginModal()">Elfelejtette a jelszavát?</a>
      <button type="submit">Bejelentkezés</button>
    </form>
    <div id="login_myModal" class="login_modal">
      <div class="login_modal-content">
        <span class="login_close" (click)="closeLoginModal()">&times;</span>
        <form (ngSubmit)="submitLoginModal()">
          <h2>Jelszó változtatás</h2>
          <p>Email cím:</p>
          <input type="text" [(ngModel)]="modalData.email" name="email">
          <p>Új jelszó:</p>
          <input type="password" [(ngModel)]="modalData.newPassword" name="newPassword">
          <p>Új jelszó megerősítés:</p>
          <input type="password" [(ngModel)]="modalData.confirmPassword" name="confirmPassword">
          <button type="submit">Küldés</button>
        </form>
      </div>
    </div>
  </section>
  <section class="register">
    <a href="/register" class="aclass">
      <button>Regisztráció</button>
    </a>
  </section>
</main>