<header>
  <div class="container">
    <form action="/main" method="POST">
      <nav>
        <div>
          <div class="jobbos">
            <div class="okey">
              <img src="../assets/kepek/logo2.0.png" class="logo" alt="Logo">
              <h1 class="balos">BosService</h1>
            </div>
            <div>
              <a href="#about">Rólunk</a>
              <a href="#services">Szolgáltatásaink</a>
              <a href="#team">Csapatunk</a>
              <a href="#contact">Elérhetőség</a>
              <a href="/login">Bejelentkezés</a>
            </div>
          </div>
        </div>
      </nav>
    </form>
  </div>
</header>