<header>
  <div class="container">
    <nav>
      <div class="logo-container">
        <img src="../assets/kepek/logo2.0.png" class="logo" alt="BosService Logo">
        <h1>BosService</h1>
      </div>
      
      <div class="nav-links" [class.active]="menuActive">
        <a href="#about">Rólunk</a>
        <a href="#services">Szolgáltatásaink</a>
        <a href="#team">Csapatunk</a>
        <a href="#contact">Elérhetőség</a>
        <a href="/login" class="login-link">Bejelentkezés</a>
      </div>
      
      <div class="hamburger" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
  </div>
</header>