<main>
    <section class="register2">
      <h2>Regisztráció</h2>
      <form (ngSubmit)="register()">
        <label for="last_name">Vezetéknév</label>
        <input type="text" id="last_name" [(ngModel)]="registerData.last_name" name="last_name" required> 
        
        <label for="first_name">Keresztnév</label>
        <input type="text" id="first_name" [(ngModel)]="registerData.first_name" name="first_name" required>
  
        <label for="register_email">Email-cím</label>
        <input type="email" id="register_email" [(ngModel)]="registerData.register_email" name="register_email" required>
  
        <label for="register_phone">Telefonszám</label>
        <input type="text" id="register_phone" [(ngModel)]="registerData.register_phone" name="register_phone" required>
  
        <label for="register_password">Jelszó</label>
        <input type="password" id="register_password" [(ngModel)]="registerData.register_password" name="register_password" required><br>
        
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
        
        <button type="submit">Regisztráció</button>
      </form>
    </section>
  </main>